* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: rgb(252, 251, 251);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    background-color: #42ad94;
    grid-row: 1 / 3;
}

.content {
    background-color: #992c2c;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 1.5rem;
    padding: 1.75rem 1.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 80%;
    background-color: rgb(240, 239, 239);
    border-radius: 15px;
    height: 2rem;
    border: none;
}

#search-img {
    height: 2rem;
    width: 2rem;
    margin: 0 1.5rem;
}

#bell-img {
    height: 2rem;
    width: 2rem;
}

.bird-img {
    background-color: red;
}

.user-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-notifications .flex-item {
    margin-right: 2rem;
}

.user-notifications .bird-img {
    height: 2.5rem;
    width: 2.5rem;
}

.user-notifications p {
    font-weight: bold;
}

.user-greeting {
    display: flex;
    align-items: center;
}

.user-greeting p {
    font-weight: bold;
}

.user-greeting .username {
    font-size: 1.5rem;
}

.user-greeting .bird-img {
    margin: 0 1.5rem;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.header-buttons button {
    background-color: rgb(59, 104, 253);
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
}

.header-buttons .flex-item {
    margin-right: 2rem;
}

.sidebar .section-1 {
    display: grid;
    grid-template-columns: 50px 115px;
    grid-template-rows: 100px repeat(6, 50px);
    align-items: center;
    padding-left: 1rem;
    column-gap: 10px;
}

.sidebar .section-2 {
    display: grid;
    grid-template-columns: 50px 115px;
    grid-template-rows: repeat(3, 50px);
    align-items: center;
    padding-top: 35px;
    padding-left: 1rem;
    column-gap: 10px;
}

.sidebar img {
    justify-self: center;
} 

.sidebar .title {
    font-size: 1.25rem;
}

.sidebar p {
    font-weight: 600;
}

.content .projects {
    grid-row: 1 / 3;
}

.card {
    background-color: rgb(252, 251, 251);
    border-radius: 5px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
}

.project-cards .card {
    height: 220px;
    border-left: 10px solid rgb(213, 176, 11);
}

h3 {
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.announcements .card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.announcements p {
    font-size: 0.8rem;
    line-height: 1.15rem;
    color: rgb(98, 96, 96);
}

hr {
    margin: 1.25rem 0;
    width: 100%;
}

.trending {
    margin-top: 1.5rem;
}

.trending .card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
}

.trending .card > div {
    display: flex;
    margin-bottom: 1.25rem;
}

.user-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    margin-right: 1.5rem;
}

.large-img {
    height: 4rem;
    width: 4rem;
}

.dolphin-img {
    background-color: aquamarine;
}

.elephant-img {
    background-color: burlywood;
}

.donkey-img {
    background-color: blue;
}

.jellyfish-img {
    background-color: aqua;
}

.trending .user-handle {
    font-weight: 600;
}